# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

/jansson-*

# Regression output
/regression.diffs
/regression.out
/results/

#qt creator files
decoder_json.creator
decoder_json.creator.user
decoder_json.files
decoder_json.includes
decoder_json.config